{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold">Welcome, User</h1>
    
    <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">
        Logout
    </a>
</div>
<table class="table table-bordered">
    <thead>
        <tr><th>ID</th><th>Name</th><th>Membership</th><th>Rate</th><th>Hours</th><th>Net Pay</th><th>Actions</th></tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.membership }}</td>
            <td>{{ employee.rate }}</td>
            <td>{{ employee.hours }}</td>
            <td>{{ employee.netpay }}</td>
            <td>
                <p>Only the admin can edit and delete any data</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="lead">You are now logged in.</p>
{% endblock %}
